.tabbar{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid #F9F9F9;
    background-color: #fff;
}

*{
    padding: 0 ;margin: 0;
}

body{
    min-width: 320px;
    max-width: 640px;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}

.m_t25{
    margin-top: 25px;
}
.m_t15{
    margin-top: 15px;
}
.tar{
    text-align: right;
}

.m_r10{
    margin-right: 10px;
}